:root {
  --main-title-color: #ffffff;
  --main-accent-color: #2196f3;
  --main-text-color: #212121;
  --main-subtitle-color: #757575;
  --main-color-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  --main-fill-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  --main-background-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input-check, .section__title--visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

.backdrop {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity 500ms linear, visibility 500ms;
}

h1,
h2,
h3,
p {
  margin: 0;
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--main-text-color);
}

ul {
  margin: 0;
  padding-left: 0;
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

button {
  cursor: pointer;
}

address {
  font-style: normal;
}

a {
  text-decoration: none;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.section__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
  text-align: center;
  color: var(--main-text-color);
}

.section--no-pading-top {
  padding-top: 0;
}

.section__team {
  background-color: #f5f4fa;
}

.container {
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--main-accent-color);
  display: flex;
}

.header__logo {
  margin-right: 93px;
}

.studio {
  color: #000000;
}

.footer-studio {
  color: var(--main-title-color);
}

.site-nav {
  display: flex;
}

.site-nav .site-nav__item + .site-nav__item {
  margin-left: 50px;
}

.site-nav__link {
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--main-text-color);
  transition: var(--main-color-transition);
  position: relative;
  display: block;
}

.site-nav__link:hover,
.site-nav__link:focus {
  color: var(--main-accent-color);
}

.active {
  color: var(--main-accent-color);
}

.active::after {
  content: "";
  width: 100%;
  height: 4px;
  background-color: var(--main-accent-color);
  border-radius: 2px;
  display: block;
  position: absolute;
  bottom: -1px;
  left: 0;
}

.contacts {
  display: flex;
  margin-left: auto;
}

.contacts__link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--main-subtitle-color);
  display: flex;
  align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;
  transition: var(--main-color-transition);
}

.contacts__link:focus,
.contacts__link:hover {
  color: var(--main-accent-color);
}

.contacts .contacts__item + .contacts__item {
  margin-left: 50px;
}

.contacts__icon {
  fill: var(--main-subtitle-color);
  margin-right: 10px;
  transition: var(--main-fill-transition);
}

.contacts__link:hover .contacts__icon,
.contacts__link:focus .contacts__icon {
  fill: var(--main-accent-color);
}

.modal {
  position: absolute;
  width: 528px;
  min-height: 581px;
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1) rotate(1turn);
  transition: transform 5000ms linear;
  padding: 40px;
}

.backdrop.is-hidden.modal {
  transform: translate(50%, 50%) scale(0);
  transition: transform 2000ms linear;
}

.modal-close {
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-close {
  position: absolute;
  right: 8px;
  top: 8px;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: transparent;
  transition: var(--main-fill-transition);
}

.modal-close:hover,
.modal-close:focus {
  fill: var(--main-accent-color);
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
  margin-bottom: 12px;
}

.form-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;
  font-size: 12px;
  color: var(--main-text-color);
  transition: outline-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input:focus {
  outline-color: var(--main-accent-color);
}

.form-input:focus + .input-icon {
  fill: var(--main-accent-color);
}

.form-input-coment {
  width: 100%;
  min-height: 118px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 12px 16px;
  font-size: 12px;
  line-height: 1.17px;
  letter-spacing: 0.01em;
  color: var(--main-text-color);
  resize: none;
  transition: outline-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: block;
}

.form-input-coment:focus {
  outline-color: var(--main-accent-color);
}

.input-title {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--main-subtitle-color);
  display: block;
  margin-bottom: 4px;
}

.input-field {
  margin-bottom: 10px;
}

.input-wrap {
  position: relative;
}

.input-icon {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  transition: var(--main-fill-transition);
}

.check-text {
  font-size: 14px;
  line-height: 1.71;
  color: var(--main-subtitle-color);
  display: flex;
  align-items: center;
  justify-content: center;
}

.che-icon {
  width: 16px;
  height: 15px;
  border: 2px solid #212121;
  border-radius: 3px;
  margin-right: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.check-icon {
  fill: transparent;
}

.input-check:checked + .check-text .che-icon {
  background-color: var(--main-accent-color);
  border-color: var(--main-accent-color);
}

.input-check:checked + .check-text .check-icon {
  fill: var(--main-title-color);
}

.check-field {
  margin-top: 20px;
}

.user-terms {
  color: var(--main-accent-color);
  text-decoration: underline;
}

.input-btn {
  width: 200px;
  height: 50px;
  background-color: var(--main-accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: transparent;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  padding: 10px 55px;
  letter-spacing: 0.06em;
  color: #ffffff;
  margin: 30px auto 0;
  display: block;
  transition: var(--main-background-transition);
}

.input-btn:hover {
  background-color: #188ce8;
}

.header {
  border-bottom: 1px solid #ececec;
}

.header__container {
  display: flex;
  align-items: center;
}

.hero {
  background: #2f303a;
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/hero.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  max-width: 1600px;
  margin: 0 auto;
}

.hero__title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.45;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--main-title-color);
  margin-bottom: 30px;
}

.hero__btn {
  background-color: var(--main-accent-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: var(--main-title-color);
  display: inline-block;
  border-radius: 4px;
  padding: 10px 32px;
  border: 1px solid transparent;
  transition: var(--main-background-transition);
}

.hero__btn:hover {
  background-color: #188ce8;
}

.features {
  display: flex;
  flex-wrap: wrap;
}

.features__item {
  width: 270px;
}

.features .features__item + .features__item {
  margin-left: 30px;
}

.features__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.43;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-top: 30px;
}

.features__text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--main-subtitle-color);
  margin-top: 10px;
}

.features__icon-box {
  background-color: #f5f4fa;
  border-radius: 4px;
  width: 270px;
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.work {
  display: flex;
}

.work .work__item + .work__item {
  margin-left: 30px;
}

.work__item {
  position: relative;
}

.work__text {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  background-color: rgba(47, 48, 58, 0.8);
  width: 100%;
  color: #ffffff;
  position: absolute;
  bottom: 0;
  left: 0;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.team__heading {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-align: center;
}

.team__text {
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--main-subtitle-color);
  margin-top: 10px;
  text-align: center;
  margin-bottom: 16px;
}

.team {
  display: flex;
}

.team .team__item + .team__item {
  margin-left: 30px;
}

.team__woker {
  padding-top: 30px;
  padding-bottom: 30px;
}

.team__item {
  background-color: var(--main-title-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.social-web {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.social-web__link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #afb1b8;
  transition: var(--main-background-transition);
}

.social-web__link:hover,
.social-web__link:focus {
  background-color: var(--main-accent-color);
  color: var(--main-title-color);
}

.social-web__icon {
  fill: currentColor;
  transition: var(--main-fill-transition);
}

.clients {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.clients__link {
  border: 1px solid #afb1b8;
  border-radius: 4px;
  width: 170px;
  height: 92px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients__link:hover,
.clients__link:focus {
  border: 1px solid var(--main-accent-color);
}

.client__icon {
  fill: #afb1b8;
  transition: var(--main-fill-transition);
}

.clients__link:hover .client__icon,
.clients__link:focus .client__icon {
  fill: var(--main-accent-color);
}

.footer {
  background: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer__container {
  display: flex;
  align-items: baseline;
}

.container-contacts {
  display: block;
  flex-grow: 1;
}

.info__mail,
.info__tel,
.info__map {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.info__map {
  color: var(--main-title-color);
}

.info .info__item + .info__item {
  margin-top: 9px;
}

.social-networks {
  margin-left: 70px;
}

.social-networks__subtitle {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 20px;
}

.social-networks__list {
  display: flex;
  gap: 10px;
}

.social-networks__link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: var(--main-background-transition);
}

.social-networks__link:hover,
.social-networks__link:focus {
  background-color: var(--main-accent-color);
}

.social-networks__icon {
  fill: var(--main-title-color);
}

.subscription {
  margin-left: 93px;
}

.subscription__form {
  display: flex;
}

.subscription__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--main-title-color);
  margin-bottom: 20px;
}

.subscription__input {
  background-color: inherit;
  color: var(--main-title-color);
  width: 358px;
  height: 50px;
  padding-left: 16px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
}

.subscription__btn {
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.06em;
  color: #ffffff;
  padding: 10px 28px;
  margin-left: 12px;
  width: 200px;
  height: 50px;
  background-color: var(--main-accent-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 4px;
  border-color: transparent;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.subscription__btn-icon {
  fill: var(--main-title-color);
}

.portfolio__list {
  display: flex;
  justify-content: center;
}

.portfolio__list .btn-set__item + .btn-set__item {
  margin-left: 8px;
}

.btn-set__btn {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
  background-color: #f5f4fa;
  border-radius: 4px;
  border: transparent;
  padding: 6px 22px;
  transition: var(--main-background-transition), var(--main-color-transition), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-set__btn:hover,
.btn-set__btn:focus {
  background-color: var(--main-accent-color);
  color: var(--main-title-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.card-set {
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
}

.card-set__item {
  width: 370px;
  margin-right: 30px;
  margin-bottom: 30px;
}

.card-set__item:nth-child(3n) {
  margin-right: 0;
}

.card-set__item:nth-last-child(-n+3) {
  margin-bottom: 0;
}

.card-set__link {
  text-decoration: none;
  display: block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.card-set__link:hover,
.card-set__link:focus {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.2509803922);
}

.card-set__link:hover .galery__cover-text,
.card-set__link:focus .galery__cover-text {
  transform: translateY(0);
}

.galery__overlay {
  position: relative;
  overflow: hidden;
}

.galery__cover-text {
  position: absolute;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  color: var(--main-title-color);
  background-color: rgba(33, 150, 243, 0.9);
  padding: 63px 30px;
  height: 294px;
  top: 0;
  left: 0;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  overflow: auto;
}

.galery__text {
  padding: 20px 24px;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
}

.galery__heading {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--main-text-color);
}

.galery__subtitle {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--main-subtitle-color);
  margin-top: 4px;
}/*# sourceMappingURL=main.css.map */