.footer {
	background: #2f303a;
	padding-top: 60px;
	padding-bottom: 60px;
}

.footer__container {
	@media screen and (min-width: 768px) {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-around;
		align-items: baseline;
	}
}
.container-contacts {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: 60px;
	@media screen and (min-width: 1200px) {
		display: block;
		flex-grow: 1;
		margin-bottom: 0;
		text-align: left;
	}
}

.adress {
	margin-top: 20px;
}
.info__mail,
.info__tel,
.info__map {
	font-size: 14px;
	line-height: 1.71;
	letter-spacing: 0.03em;
	color: rgba(255, 255, 255, 0.6);
	display: block;
	text-align: center;
	margin-top: 8px;
	@media screen and (min-width: 768px) {
		margin-top: 9px;
	}
	@media screen and (min-width: 1200px) {
		text-align: left;
	}
}
.info__map {
	color: var(--main-title-color);
}

.social-networks {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: 60px;
	@media screen and (min-width: 768px) {
		margin: 0;
	}
	@media screen and (min-width: 1200px) {
		margin-left: 70px;
		align-items: flex-start;
	}
}

.social-networks__subtitle {
	font-weight: 700;
	font-size: 14px;
	line-height: 16px;
	letter-spacing: 0.03em;
	text-transform: uppercase;
	color: #ffffff;
	margin-bottom: 20px;
}

.social-networks__list {
	display: flex;
	gap: 10px;
}

.social-networks__link {
	width: 44px;
	height: 44px;
	border-radius: 50%;
	background-color: rgba(255, 255, 255, 0.1);
	display: flex;
	justify-content: center;
	align-items: center;
	transition: var(--main-background-transition);
	&:focus,
	&:hover {
		background-color: var(--main-accent-color);
	}
}

.social-networks__icon {
	fill: var(--main-title-color);
}

.subscription {
	display: flex;
	flex-direction: column;
	align-items: center;
	@media screen and (min-width: 1200px) {
		margin-left: 93px;
		align-items: flex-start;
	}
}

.subscription__form {
	display: flex;
	flex-direction: column;
	align-items: center;
	@media screen and (min-width: 1200px) {
		flex-direction: row;
		align-items: flex-start;
	}
}
.subscription__title {
	font-weight: 700;
	font-size: 14px;
	line-height: 16px;
	letter-spacing: 0.03em;
	text-transform: uppercase;
	color: var(--main-title-color);
	margin-bottom: 20px;
}

.subscription__input {
	background-color: inherit;
	color: var(--main-title-color);
	width: 100%;
	@media screen and (min-width: 480px) {
		width: 450px;
	}
	height: 50px;
	padding-left: 16px;
	border: 1px solid rgba(255, 255, 255, 0.3);
	filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
	border-radius: 4px;
	margin-bottom: 20px;
	align-items: center;
	@media screen and (min-width: 1200px) {
		width: 358px;
		margin-bottom: 0;
	}
}

.subscription__btn {
	font-weight: 700;
	font-size: 16px;
	line-height: 30px;
	letter-spacing: 0.06em;
	color: #ffffff;
	padding: 10px 28px;

	width: 200px;
	height: 50px;
	background-color: var(--main-accent-color);
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-radius: 4px;
	border-color: transparent;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

	@media screen and (min-width: 1200px) {
		margin-left: 12px;
	}
}

.subscription__btn-icon {
	fill: var(--main-title-color);
}
