:root {
  --main-title-color: #ffffff;
  --main-accent-color: #2196f3;
  --main-text-color: #212121;
  --main-subtitle-color: #757575;
}
h1,
h2,
h3,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding-left: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

button {
  cursor: pointer;
}

address {
  font-style: normal;
  margin-top: 20px;
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--main-text-color);
}

.list {
  list-style: none;
}
.link,
.link:hover,
.link:focus {
  text-decoration: none;
  color: var(--main-accent-color);
}

.container {
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
  /* outline: 2px solid red; */
}

/* Шапка сайта */

.header {
  border-bottom: 1px solid #ececec;
}
.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--main-accent-color);
  margin-right: 93px;
}
.studio {
  color: #000000;
}
.header-link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--main-text-color);
}
.header-link:hover,
.header-link:focus {
  color: var(--main-accent-color);
}
.header-tel,
.header-mail {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--main-subtitle-color);
}
.header-icon-item {
  fill: var(--main-subtitle-color);
}
.contact-item:hover .header-icon-item,
.contact-item:focus .header-icon-item {
  fill: var(--main-accent-color);
}

.header-list,
.header-list-contact {
  display: flex;
}
.header-list-contact {
  margin-left: auto;
}
/* .header-item{
  margin-right: 50px;

}
.header-item:last-child{
  margin-right: 0;
} */
.header-list .header-item + .header-item {
  margin-left: 50px;
}
.header-list-contact .contact-item + .contact-item {
  margin-left: 50px;
}
.header-container {
  display: flex;
  align-items: center;
}

/* герой */
.hero {
  background: #2f303a;
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;

  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../img/hero.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  max-width: 1600px;
  margin: 0 auto;
}
.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.45;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--main-title-color);
  margin-bottom: 30px;
}

.hero-btn {
  background-color: var(--main-accent-color);
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: var(--main-title-color);
  display: inline-block;
  border-radius: 4px;
  padding: 10px 32px;
  border: 1px solid var(--main-accent-color);
}

.hero-btn:hover {
  background-color: #188ce8;
}

/* особенности */
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.features-heading {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.43;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.features-subtitle {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--main-subtitle-color);
  margin-top: 10px;
}
.features-list {
  display: flex;
  flex-wrap: wrap;
}

.features-item {
  width: 270px;
}
.features-list .features-item + .features-item {
  margin-left: 30px;
}

/* .header-list-contact .contact-item +.contact-item {
  margin-left: 50px; */
.features-list-icon {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-bottom: 30px;
}

.features-icon {
  background: #f5f4fa;
  border-radius: 4px;
  width: 270px;
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* чем занимаемся */
.work {
  padding-top: 0;
}
.work-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
  text-align: center;
}
.work-list {
  display: flex;
}
.work-list .work-list-item + .work-list-item {
  margin-left: 30px;
}

/* команда */
.team {
  background-color: #f5f4fa;
}
.team-item {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-align: center;
  margin-bottom: 50px;
}
.team-heading {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-align: center;
}
.team-subtitle {
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--main-subtitle-color);
  margin-top: 10px;
  text-align: center;
  margin-bottom: 16px;
}

.team-list {
  display: flex;
}
.team-list .team-item + .team-item {
  margin-left: 30px;
}
.woker {
  padding-top: 30px;
  padding-bottom: 30px;
}
.team-item {
  background-color: var(--main-title-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.social-list {
  display: flex;
  justify-content: center;
  gap: 10px;
}
.social-link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #afb1b8;
}

.social-icon {
  fill: currentColor;
}

.social-link:hover,
.social-link:focus {
  background-color: var(--main-accent-color);
  color: var(--main-title-color);
}

/* постоянні клієнти */
.client-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
  margin-bottom: 50px;
}
.client-link {
  border: 1px solid #afb1b8;
  border-radius: 4px;
  width: 170px;
  height: 92px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.client-list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.client-icon-item {
  fill: #afb1b8;
}
.client-link:hover,
.client-link:focus {
  border: 1px solid var(--main-accent-color);
}
.client-link:hover .client-icon-item,
.client-link:focus .client-icon-item {
  fill: var(--main-accent-color);
}

/* футер */

.footer {
  background: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}
.footer-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--main-accent-color);
}

.footer-studio {
  color: var(--main-title-color);
}
.footer-map {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--main-title-color);
}
.footer-mail,
.footer-tel {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #ffffff99;
}

.footer-list .footer-item + .footer-item {
  margin-top: 9px;
}
.footer-subtitle {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 20px;
}

.footer-social-list {
  display: flex;
  gap: 10px;
}
.social {
  margin-top: 12px;
  margin-left: 70px;
}
.container-footer {
  display: flex;
}
.footer-social-link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-container {
  display: block;
}
.footer-social-link:hover,
.footer-social-link:focus {
  background-color: var(--main-accent-color);
}
.footer-social-icon {
  fill: var(--main-title-color);
}

/* портфолио */
.portfolio-title,
.features-title {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.portfolio-btn {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
}

.portfolio-btn:hover,
.portfolio-btn:focus {
  background-color: var(--main-accent-color);
  color: var(--main-title-color);
}
.portfolio-list {
  display: flex;
  justify-content: center;
}
.portfolio-list .portfolio-item + .portfolio-item {
  margin-left: 8px;
}

/* галерея */

.galery-heading {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.galery-subtitle {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--main-subtitle-color);
  margin-top: 4px;
}
.galery-list {
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
}
.galery-text {
  padding: 20px 24px;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
}

.galery-item {
  /* width: calc((100%-60px) / 3);        чомусь не працює */
  width: 370px;
  margin-right: 30px;
  margin-bottom: 30px;
}
.galery-item:hover,
.galery-item:focus {
  box-shadow: 0px 4px 4px 0px #00000040;
}

.galery-item:nth-child(3n) {
  margin-right: 0;
}
.galery-item:nth-last-child(-n + 3) {
  margin-bottom: 0;
}
