:root {
	--main-title-color: #ffffff;
	--main-accent-color: #2196f3;
	--main-text-color: #212121;
	--main-subtitle-color: #757575;
	--main-color-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
	--main-fill-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
	--main-background-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

h1,
h2,
h3,
p {
	margin: 0;
}

ul {
	margin: 0;
	padding-left: 0;
}

img {
	display: block;
	max-width: 100%;
	height: auto;
}

button {
	cursor: pointer;
}

address {
	font-style: normal;
	margin-top: 20px;
}

body {
	font-family: "Roboto", sans-serif;
	color: var(--main-text-color);
}

.list {
	list-style: none;
}
.link {
	text-decoration: none;
}

.container {
	width: 1200px;
	padding: 0 15px;
	margin: 0 auto;
	/* outline: 2px solid red; */
}

/* Шапка сайта */

.header {
	border-bottom: 1px solid #ececec;
}
.logo {
	font-family: "Raleway", sans-serif;
	font-weight: 700;
	font-size: 26px;
	line-height: 1.19;
	letter-spacing: 0.03em;
	color: var(--main-accent-color);
	margin-right: 93px;
}
.studio {
	color: #000000;
}
.header-link {
	display: block;
	padding-top: 32px;
	padding-bottom: 32px;
	font-weight: 500;
	font-size: 14px;
	line-height: 1.14;
	letter-spacing: 0.02em;
	color: var(--main-text-color);
	transition: var(--main-color-transition);
	position: relative;
}
.header-link:hover,
.header-link:focus {
	color: var(--main-accent-color);
}
.header-tel,
.header-mail {
	font-weight: 500;
	font-size: 14px;
	line-height: 1.14;
	letter-spacing: 0.02em;
	color: var(--main-subtitle-color);
	display: flex;
	align-items: center;
	padding-top: 32px;
	padding-bottom: 32px;
	transition: var(--main-color-transition);
}
.header-mail:focus,
.header-mail:hover,
.header-tel:focus,
.header-tel:hover {
	color: var(--main-accent-color);
}

.header-icon-item {
	fill: var(--main-subtitle-color);
	margin-right: 10px;
	transition: var(--main-fill-transition);
}

.header-mail:hover .header-icon-item,
.header-mail:focus .header-icon-item,
.header-tel:hover .header-icon-item,
.header-tel:focus .header-icon-item {
	fill: var(--main-accent-color);
}

.header-list,
.header-list-contact {
	display: flex;
}
.header-list-contact {
	margin-left: auto;
}
/* .header-item{
  margin-right: 50px;

}
.header-item:last-child{
  margin-right: 0;
} */
.header-list .header-item + .header-item {
	margin-left: 50px;
}
.header-list-contact .contact-item + .contact-item {
	margin-left: 50px;
}
.header-container {
	display: flex;
	align-items: center;
}
.active {
	color: var(--main-accent-color);
}

.active::after {
	content: "";
	width: 100%;
	height: 4px;
	background-color: var(--main-accent-color);
	border-radius: 2px;
	display: block;
	position: absolute;
	bottom: -1px;
	left: 0;
}

/* герой */
.hero {
	background: #2f303a;
	text-align: center;
	padding-top: 200px;
	padding-bottom: 200px;

	background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/hero.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	max-width: 1600px;
	margin: 0 auto;
}
.hero-title {
	font-weight: 900;
	font-size: 44px;
	line-height: 1.45;
	letter-spacing: 0.06em;
	text-transform: uppercase;
	color: var(--main-title-color);
	margin-bottom: 30px;
}

.hero-btn {
	background-color: var(--main-accent-color);
	font-weight: 700;
	font-size: 16px;
	line-height: 1.87;
	letter-spacing: 0.06em;
	color: var(--main-title-color);
	display: inline-block;
	border-radius: 4px;
	padding: 10px 32px;
	border: 1px solid transparent;
	transition: var(--main-background-transition);
}

.hero-btn:hover {
	background-color: #188ce8;
}

/* особенности */
.section {
	padding-top: 94px;
	padding-bottom: 94px;
}

.features-heading {
	font-weight: 700;
	font-size: 14px;
	line-height: 1.43;
	letter-spacing: 0.03em;
	text-transform: uppercase;
	margin-top: 30px;
}
.features-subtitle {
	font-size: 14px;
	line-height: 1.71;
	letter-spacing: 0.03em;
	color: var(--main-subtitle-color);
	margin-top: 10px;
}
.features-list {
	display: flex;
	flex-wrap: wrap;
}

.features-item {
	width: 270px;
}
.features-list .features-item + .features-item {
	margin-left: 30px;
}

.features-icon {
	background: #f5f4fa;
	border-radius: 4px;
	width: 270px;
	height: 120px;
	display: flex;
	align-items: center;
	justify-content: center;
}

/* чем занимаемся */
.work {
	padding-top: 0;
}
.work-title {
	font-weight: 700;
	font-size: 36px;
	line-height: 1.17;
	letter-spacing: 0.03em;
	margin-bottom: 50px;
	text-align: center;
}
.work-list {
	display: flex;
}
.work-list .work-list-item + .work-list-item {
	margin-left: 30px;
}

.work-list-item {
	position: relative;
}
.work-pretitle {
	font-weight: 700;
	font-size: 14px;
	line-height: 1.14;
	background: rgba(47, 48, 58, 0.8);
	width: 100%;
	color: #ffffff;
	position: absolute;
	bottom: 0;
	text-transform: uppercase;
	height: 70px;
	display: flex;
	align-items: center;
	justify-content: center;
}

/* команда */
.team {
	background-color: #f5f4fa;
}
.team-item {
	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
	border-radius: 0px 0px 4px 4px;
}
.team-title {
	font-weight: 700;
	font-size: 36px;
	line-height: 1.17;
	letter-spacing: 0.03em;
	text-align: center;
	margin-bottom: 50px;
}
.team-heading {
	font-weight: 500;
	font-size: 16px;
	line-height: 1.19;
	letter-spacing: 0.03em;
	text-align: center;
}
.team-subtitle {
	font-size: 16px;
	line-height: 1.19;
	letter-spacing: 0.03em;
	color: var(--main-subtitle-color);
	margin-top: 10px;
	text-align: center;
	margin-bottom: 16px;
}

.team-list {
	display: flex;
}
.team-list .team-item + .team-item {
	margin-left: 30px;
}
.woker {
	padding-top: 30px;
	padding-bottom: 30px;
}
.team-item {
	background-color: var(--main-title-color);
	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
	border-radius: 0px 0px 4px 4px;
}
.social-list {
	display: flex;
	justify-content: center;
	gap: 10px;
}
.social-link {
	width: 44px;
	height: 44px;
	border-radius: 50%;
	background-color: #ffffff;
	display: flex;
	align-items: center;
	justify-content: center;
	color: #afb1b8;
	transition: var(--main-background-transition);
}

.social-icon {
	fill: currentColor;
	transition: var(--main-fill-transition);
}

.social-link:hover,
.social-link:focus {
	background-color: var(--main-accent-color);
	color: var(--main-title-color);
}

/* постоянні клієнти */
.client-title {
	font-weight: 700;
	font-size: 36px;
	line-height: 1.17;
	text-align: center;
	letter-spacing: 0.03em;
	color: var(--main-text-color);
	margin-bottom: 50px;
}
.client-link {
	border: 1px solid #afb1b8;
	border-radius: 4px;
	width: 170px;
	height: 92px;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.client-list {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 30px;
}
.client-icon-item {
	fill: #afb1b8;
	transition: var(--main-fill-transition);
}
.client-link:hover,
.client-link:focus {
	border: 1px solid var(--main-accent-color);
}
.client-link:hover .client-icon-item,
.client-link:focus .client-icon-item {
	fill: var(--main-accent-color);
}

/* футер */

.footer {
	background: #2f303a;
	padding-top: 60px;
	padding-bottom: 60px;
}
.footer-logo {
	font-family: "Raleway", sans-serif;
	font-weight: 700;
	font-size: 26px;
	line-height: 1.19;
	letter-spacing: 0.03em;
	color: var(--main-accent-color);
}

.footer-studio {
	color: var(--main-title-color);
}
.footer-map {
	font-size: 14px;
	line-height: 1.71;
	letter-spacing: 0.03em;
	color: var(--main-title-color);
}
.footer-mail,
.footer-tel {
	font-size: 14px;
	line-height: 1.71;
	letter-spacing: 0.03em;
	color: #ffffff99;
}

.footer-list .footer-item + .footer-item {
	margin-top: 9px;
}
.footer-subtitle {
	font-weight: 700;
	font-size: 14px;
	line-height: 16px;
	letter-spacing: 0.03em;
	text-transform: uppercase;
	color: #ffffff;
	margin-bottom: 20px;
}

.footer-social-list {
	display: flex;
	gap: 10px;
}
.social {
	margin-left: 70px;
}
.container-footer {
	display: flex;
	align-items: baseline;
}
.footer-social-link {
	width: 44px;
	height: 44px;
	border-radius: 50%;
	background-color: rgba(255, 255, 255, 0.1);
	display: flex;
	justify-content: center;
	align-items: center;
	transition: var(--main-background-transition);
}
.main-container {
	display: block;
}
.footer-social-link:hover,
.footer-social-link:focus {
	background-color: var(--main-accent-color);
}
.footer-social-icon {
	fill: var(--main-title-color);
}

.subscription {
	margin-left: 93px;
}
.subscription-section {
	display: flex;
}
.subscription-title {
	font-weight: 700;
	font-size: 14px;
	line-height: 16px;
	letter-spacing: 0.03em;
	text-transform: uppercase;
	color: var(--main-title-color);
	margin-bottom: 20px;
}

.subscription-input {
	background-color: inherit;
	color: var(--main-title-color);
	width: 358px;
	height: 50px;
	padding-left: 16px;
	border: 1px solid rgba(255, 255, 255, 0.3);
	filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
	border-radius: 4px;
}
.subscription-btn {
	font-weight: 700;
	font-size: 16px;
	line-height: 30px;
	letter-spacing: 0.06em;
	color: #ffffff;
	padding: 10px 28px;
	margin-left: 12px;
	width: 200px;
	height: 50px;
	background-color: inherit;
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-radius: 4px;
	border-color: transparent;
	transition: var(--main-background-transition);
}

.subscription-btn:hover,
.subscription-btn:focus {
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
	background-color: var(--main-accent-color);
}
.subscription-icon {
	fill: var(--main-title-color);
}

/* портфолио */
.portfolio-title,
.features-title,
.input-check {
	position: absolute;
	white-space: nowrap;
	width: 1px;
	height: 1px;
	overflow: hidden;
	border: 0;
	padding: 0;
	clip: rect(0 0 0 0);
	clip-path: inset(50%);
	margin: -1px;
}

.portfolio-btn {
	font-weight: 500;
	font-size: 16px;
	line-height: 1.62;
	letter-spacing: 0.03em;
	color: var(--main-text-color);
	background-color: #f5f4fa;
	border-radius: 4px;
	border: transparent;
	padding: 6px 22px;
	transition: var(--main-background-transition), var(--main-color-transition),
		box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-btn:hover,
.portfolio-btn:focus {
	background-color: var(--main-accent-color);
	color: var(--main-title-color);
	box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}
.portfolio-list {
	display: flex;
	justify-content: center;
}
.portfolio-list .portfolio-item + .portfolio-item {
	margin-left: 8px;
}

/* галерея */

.galery-heading {
	font-weight: 700;
	font-size: 18px;
	line-height: 2;
	letter-spacing: 0.06em;
	color: var(--main-text-color);
}
.galery-subtitle {
	font-size: 16px;
	line-height: 1.87;
	letter-spacing: 0.03em;
	color: var(--main-subtitle-color);
	margin-top: 4px;
}
.galery-list {
	margin-top: 50px;
	display: flex;
	flex-wrap: wrap;
}
.galery-text {
	padding: 20px 24px;
	border-bottom: 1px solid #eeeeee;
	border-left: 1px solid #eeeeee;
	border-right: 1px solid #eeeeee;
}

.galery-item {
	width: 370px;
	margin-right: 30px;
	margin-bottom: 30px;
}
.galery-link {
	text-decoration: none;
	display: block;
	transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.galery-link:hover,
.galery-link:focus {
	box-shadow: 0px 4px 4px 0px #00000040;
}

.galery-item:nth-child(3n) {
	margin-right: 0;
}
.galery-item:nth-last-child(-n + 3) {
	margin-bottom: 0;
}
.galery-overlay {
	position: relative;
	overflow: hidden;
}

.cover-text {
	position: absolute;
	font-weight: 400;
	font-size: 18px;
	line-height: 1.56;
	color: var(--main-title-color);
	background-color: rgba(33, 150, 243, 0.9);
	padding: 63px 30px;
	height: 294px;
	top: 0;
	left: 0;
	transform: translateY(100%);
	transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
	overflow: auto;
}

.galery-link:hover .cover-text,
.galery-link:focus .cover-text {
	transform: translateY(0);
}

.backdrop {
	position: fixed;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.2);
	transition: opacity 500ms linear, visibility 500ms;
}

.modal {
	position: absolute;
	width: 528px;
	min-height: 581px;
	background-color: #ffffff;
	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
	border-radius: 4px;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%) scale(1) rotate(1turn);
	transition: transform 5000ms linear;
	padding: 40px;
}
/* не працює */
.backdrop.is-hidden.modal {
	transform: translate(50%, 50%) scale(0);
	transition: transform 5000ms linear;
}

.modal-close {
	display: flex;
	justify-content: center;
	align-items: center;
}

.modal-close {
	position: absolute;
	right: 8px;
	top: 8px;
	width: 30px;
	height: 30px;
	border: 1px solid rgba(0, 0, 0, 0.1);
	border-radius: 50%;
	background-color: transparent;
	transition: var(--main-fill-transition);
}
.modal-close:hover,
.modal-close:focus {
	fill: var(--main-accent-color);
}

.is-hidden {
	opacity: 0;
	visibility: hidden;
	pointer-events: none;
}

.modal-title {
	font-weight: 700;
	font-size: 20px;
	line-height: 1.15;
	text-align: center;
	letter-spacing: 0.03em;
	color: var(--main-text-color);
	margin-bottom: 12px;
}

.form-input {
	width: 100%;
	height: 40px;
	border: 1px solid rgba(33, 33, 33, 0.2);
	border-radius: 4px;
	padding-left: 42px;
	font-size: 12px;
	color: var(--main-text-color);
	transition: outline-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* .form-input:hover {
	border-color: var(--main-accent-color);
} */

.form-input:focus {
	outline-color: var(--main-accent-color);
}
.form-input:focus + .input-icon {
	fill: var(--main-accent-color);
}

.form-input-coment {
	width: 100%;
	min-height: 118px;
	border: 1px solid rgba(33, 33, 33, 0.2);
	border-radius: 4px;
	padding: 12px 16px;
	font-size: 12px;
	line-height: 1.17px;
	letter-spacing: 0.01em;
	color: var(--main-text-color);
	resize: none;
	transition: outline-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-input-coment:focus {
	outline-color: var(--main-accent-color);
}

/* .form-input-coment:hover {
	border-color: var(--main-accent-color);
} */

.input-title {
	font-size: 12px;
	line-height: 1.17;
	letter-spacing: 0.01em;
	color: var(--main-subtitle-color);
	display: block;
	margin-bottom: 4px;
}

.input-field {
	margin-bottom: 10px;
}

.input-wrap {
	position: relative;
}

.input-icon {
	position: absolute;
	left: 12px;
	top: 50%;
	transform: translateY(-50%);
	transition: var(--main-fill-transition);
}

.check-text {
	font-size: 14px;
	line-height: 1.71;
	color: var(--main-subtitle-color);
	display: flex;
	align-items: center;
}

.che-icon {
	width: 16px;
	height: 15px;
	border: 2px solid #212121;
	border-radius: 3px;
	margin-left: 12px;
	margin-right: 8px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.check-icon {
	fill: transparent;
}
.input-check:checked + .check-text .che-icon {
	background-color: var(--main-accent-color);
	border-color: var(--main-accent-color);
}

.input-check:checked + .check-text .check-icon {
	fill: var(--main-title-color);
}

/* .check-text::before {
	content: "";
	width: 16px;
	height: 15px;
	border: 2px solid #212121;
	border-radius: 3px;
	margin-left: 12px;
	margin-right: 8px;
}

.input-check:checked + .check-text::before {
	background-color: var(--main-accent-color);
	background-image: url(../img/check.svg);
	border: none;
	background-repeat: no-repeat;
	background-position: center;
} */

.user-terms {
	color: var(--main-accent-color);
	text-decoration: underline;
}

.input-btn {
	width: 200px;
	height: 50px;
	background-color: var(--main-accent-color);
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
	border-radius: 4px;
	border: transparent;
	font-weight: 700;
	font-size: 16px;
	line-height: 30px;
	padding: 10px 55px;
	letter-spacing: 0.06em;
	color: #ffffff;
	margin: 30px auto;
	display: block;
	transition: var(--main-background-transition);
}

.input-btn:hover {
	background-color: #188ce8;
}
